{%extends 'hotelapp/base.html'%}
{% load static %}

{% block title%} Home {% endblock title%}
{% block content %}

    <h1 class="text-red-600 font-extrabold text-center text-[30px] ">Home</h1>
    <div class="mt-3">
    <img src="{%static 'hotelapp/images/car.jpg' %}" alt="car " style="width: 50%; margin-left: 20%;">
    <img src="{%static 'images/dog2.jpg' %}" alt="dog" style="width: 50%; margin-left: 40%;">

    <script src="{%static 'js/first.js' %}"> </script>

</div>
    {% endblock content %}

