{% extends 'hotelapp/base.html' %}

    {% block title %} Login {% endblock title %}
   
   {% block head %}
   <!-- <style>
        form{
           border: 1px solid ;
            text-align: center;       
        }
    </style> -->
    {% endblock head %}

    {% block content %}
<div>
  <h1 class="text-center text-red-600 font-extrabold text-[30px] ">Login</h1>
</div>

<div class="text-center bg-slate-300 mt-4  ">
    <form action="">
        username :
        <input type="text " name="username" id="username" class="mt-2">
        <br><br>
        Password :
        <input type="password " name="password" id="password">
        <br><br>
        confirm_password:
        <input type="password" name="confirm_password" id="confirm_password" >
        <br><br>
        <input type="submit" value="Submit" class="text-white bg-green-600 w-[110px] rounded-lg mb-2">
    </form>
</div>

    {% endblock content %}