{% extends 'hotelapp/base.html' %}
{%block head%}  
{%block style  %}

    
<style>
    .input{
    color: darkgreen;
    }
</style>
{%endblock style %}

{%endblock head%}
    {%block title%} Student {%endblock title%}
    
   

{%block content %} 
<div >
    <h1 class="text-red-600 text-center font-extrabold text-[30px] ">Student Login</h1>
   
<div class="text-center bg-red-400 mt-4" >
    <form action="" method="post">
        {% csrf_token %}
        Firstname :
        <input type="text"  name="fname" id="fname"  class="input mt-2">
        <br><br>
        Lastname :
        <input type="text" name="lname" id="lname" class="input">
        <br><br>
        Age :
        <input type="text" name="age" id="age" class="input">
        <br><br>
        Mobile :
        <input type="text" name="mobile" id="mobile" class="input">
        <br><br>
        email :  
        <input type="email" name="email" id="email" class="input">
        <br>
        <br>
        Gender :
        <select name="gender" id="gender">
            <option value="male">male</option>
            <option value="Female">Female</option>
            <option value="other">Other</option>
        </select>
        <br><br>
        <input type="submit" value="Submit" class="text-white bg-green-600 w-[110px] rounded-lg mb-2">
        
    </form>
</div>
</div>

    {%endblock content%}